*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', sans-serif;
}

body {
min-height: 100vh;
background: #1c0522 
}

header {
position: absolute;
top: 0;
left: 0;
width: 100%;
padding: 30px 5%;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 10000;
}

 header .logo
{
color: #fff;
font-weight: 700;
text-decoration: none;
font-size: 2em;
text-transform: uppercase;
letter-spacing: 2px;
}


header ul{
top: 5;
right: 0;
width: 100%;
position: fixed;
display: flex;
justify-content: center;
align-items: center;
}

header ul li{
list-style: none;
margin-left: 20px;
}

header ul li a{
text-decoration: none;
padding: 6px 15px;
color: #fff;
border-radius: 20px;
}

header ul li a:hover, header ul li a.active{
background: #fff;
color: #2b105f;
}

section{
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}



section img{
position:absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
object-fit: cover;
}

#text{
    position: absolute;
    color: #fff;
    white-space:nowrap;
    font-size: 6.5vw;
    z-index: 9;
}

.sec{
position: relative ;
padding: 100px;
background: #1c0522;
}

.sec h2{
font-size: 3.5em;
margin-bottom: 10px;
color: #fff;
}
.sec  h3{
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #fff;
    }

.sec p {
font-size: 2em;
margin-bottom: 10px;
color: #fff;

}

.avaliacao{
    display: flex;

   }
  .star-icon{
    list-style-type: none;
    cursor: pointer;
    color: #fff;
    font-size: 80px;/* alterar o tamanho das estrelas */
    width: 70px;
    left: 700000000000000000000000px;
  }
  .star-icon::before{
    content: "\2605";
  }
  .star-icon.ativo ~ .star-icon::before{
    content: "\2606";
  }
  .avaliacao:hover .star-icon::before{
    content: "\2605";
  }
  .star-icon:hover ~ .star-icon::before{
    content: "\2606";
  }


@media only screen and (max-width: 600px) {
    body {
        min-height: 100vh;
        background: #1c0522 
        }
    header  {
         position: flex;
         top: 0;
         left: 0;
         width: 100%;
         bottom: 100%;
         padding: 30px 5%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         z-index: 100;
         }
          header .logo
         {
         color: #fff;
         font-weight: 700;
         text-decoration: none;
         font-size: 1.5em;
         text-transform: uppercase;
         letter-spacing: 1px;
         padding: 8px 1%;
         margin-top: auto;
         }
     header ul li{
        list-style: none;
        margin-left: 2px;
     }
            
      header ul li a{
        text-decoration: none;
        padding: 5px 10px;
        color: #fff;
        border-radius: 20px;

     }

     section img{
         position:absolute;
         top:2;
        left: 0;
        width: 100%;
         height: 90%;
         object-fit:cover ;
     }
     .sec{
        position: relative ;
        padding: 20px;
        background: #1c0522;
     }

    .sec h2{
         font-size: 2.5em;
         margin-bottom: 10px;
         color: #fff;
     }

     .sec p {
         font-size: 1.5em;
         margin-bottom: 10px;
        color: #fff;
    }
 }

@media only screen and (max-width: 320px) {

  body {
    min-height: 100vh;
    background: #1c0522 
    }
header  {
     position: flex;
     top: 0;
     left: 0;
     width: 100%;
     bottom: 100%;
     padding: 30px 5%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     z-index: 100;
     }
      header .logo
     {
     color: #fff;
     font-weight: 700;
     text-decoration: none;
     font-size: 1.5em;
     text-transform: uppercase;
     letter-spacing: 1px;
     padding: 8px 1%;
     margin-top: auto;
     }
 header ul li{
    list-style: none;
    margin-left: 2px;
 }
        
  header ul li a{
    text-decoration: none;
    padding: 5px 10px;
    color: #fff;
    border-radius: 20px;

 }

 section img{
     position:absolute;
     top:2;
    left: 0;
    width: 110%;
     height: 80%;
     object-fit:cover ;
 }
 .sec{
    position: relative ;
    padding: 20px;
    background: #1c0522;
 }

.sec h2{
     font-size: 2em;
     margin-bottom: 10px;
     color: #fff;
 }

 .sec p {
     font-size: 1.2em;
     margin-bottom: 10px;
    color: #fff;
}
 }
